@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Sofia Sans", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 9rem;
}

.hero-data {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4.5rem;
}

.heading h1 {
    font-size: 5rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 1rem;
}

.heading h2 {
    font-size: 3.5rem;
    font-weight: 900;
    color: #fff;
}

.tag {
    color: #000;
}

.hero-data p {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(28, 20, 21, 0.8);
    line-height: 1.3;
}

.price-tag {
    font-size: 4.5rem;
    font-weight: 700;
    color: #fff;
}


.logos {
    display: flex;
    gap: 1rem;
}

.logos span {
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    border: 1.5px solid #fff;
    padding: 1rem;
}

.slider {
    max-width: 40%;

}


.hero-image {
    max-width: 65%;
    height: auto;
    margin: 0 auto;

}

.slick-prev,
.slick-next {}



.header-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9rem;
}

.header-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 1.4rem;
    padding: 2rem 0;
    font-weight: 600;
    color: #000;
}

.btn-signup {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    padding: 6px 12px;
}

.header-container img {
    width: 80px;
}

.res {
    display: none;

}

@media screen and (max-width: 900px) {
    .hero-container {
        flex-direction: column;
        padding: 0 2rem;
        text-align: center;
        justify-content: center;
        gap: 8rem;
    }

    .hero-data {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .heading h1 {
        font-size: 4rem;
    }

    .heading h2 {
        font-size: 3rem;
    }

    .hero-image {
        max-width: 90%;
    }

    .header-container {
        padding: 1rem;

    }

    .header-container ul {
        padding: 0 1rem;
        font-size: 12px;
    }



    .btn-signup {
        background-color: #000;
        border: none;
        border-radius: 12px;
        color: #fff;
        padding: 6px 12px;
        font-size: 8px;
        width: fit-content;
    }

    .res-desktop {
        display: none;
    }


    .res {
        display: block;
    }


}